.buttons_div{
  text-align: center;
}

.button {
  display: inline-block;
  margin: 5px 20px;
}

.container {
  display: block;
  margin: auto;
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.pixel{
  float: left;
  margin: 0px;
}

.pixel_clear{
  clear: left;
  margin: 0px;
}

.filled {
  float: left;
  background-color: black;
}